* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
}

body {
  color: #ffffff;
  background-color: #ebf2f5;
}

input, button, textarea {
  font: 600 18px Nunito, sans-serif;
}